USE [master]
GO
/****** Object:  Database [CRUD_Angular5_core2]    Script Date: 6/26/2018 9:55:15 AM ******/
CREATE DATABASE [CRUD_Angular5_core2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD_Angular5_core2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CRUD_Angular5_core2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_Angular5_core2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CRUD_Angular5_core2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD_Angular5_core2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD_Angular5_core2]
GO
USE [CRUD_Angular5_core2]
GO
/****** Object:  User [sql]    Script Date: 6/26/2018 9:55:15 AM ******/
CREATE USER [sql] FOR LOGIN [sql] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblCities]    Script Date: 6/26/2018 9:55:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 6/26/2018 9:55:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[Department] [varchar](20) NOT NULL,
	[Gender] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCities] ON 

INSERT [dbo].[tblCities] ([CityID], [CityName]) VALUES (1, N'Surat')
INSERT [dbo].[tblCities] ([CityID], [CityName]) VALUES (2, N'Mumbai')
INSERT [dbo].[tblCities] ([CityID], [CityName]) VALUES (3, N'Amreli')
SET IDENTITY_INSERT [dbo].[tblCities] OFF
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([EmployeeID], [Name], [City], [Department], [Gender]) VALUES (1, N'Bhavdip', N'Surat', N'MVC Developer', N'Male')
INSERT [dbo].[tblEmployee] ([EmployeeID], [Name], [City], [Department], [Gender]) VALUES (2, N'nilesh vastarpara', N'Surat', N'php', N'Male')
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
USE [master]
GO
